<div class="gamefield-container">

  <h1>{{ 'title' | translate }}</h1>

  <div class="gamefield-menu"
       [style.width.px]="getGamefieldWidth()">

    <div class="points">{{ 'points' | translate }}: {{ points }}</div>

    <button (click)="startGame()">{{ 'restart' | translate}}</button>
  </div>

  <div class="gamefield"
       [style.width.px]="getGamefieldWidth()"
       [style.height.px]="getGamefieldHeight()">

    <ng-container *ngFor="let stone of gamefield | async; let index = index">

      <div class="block"
           [@slideInDownOnEnter]
           *ngIf="isFalling(stone)"
           [style.width.px]="blockSize"
           [style.height.px]="blockSize"
           [style.margin.px]="blockMargin"
           [style.borderWidth.px]="blockBorderWidth"
           [style.backgroundColor]="stone.color"
           [style.borderRadius]="getBorderRadius(stone)"
           [id]="index">
        <div *ngIf="stone.points > 1">
          {{ stone.points }}
        </div>
      </div>

      <div class="block"
           [@zoomInOnEnter]
           *ngIf="isSpawning(stone)"
           [style.width.px]="blockSize"
           [style.height.px]="blockSize"
           [style.margin.px]="blockMargin"
           [style.borderWidth.px]="blockBorderWidth"
           [style.backgroundColor]="stone.color"
           [style.borderRadius]="getBorderRadius(stone)"
           [id]="index">
      </div>

      <div class="block"
           (click)="stoneClicked(stone)"
           *ngIf="isPresent(stone)"
           [style.width.px]="blockSize"
           [style.height.px]="blockSize"
           [style.margin.px]="blockMargin"
           [style.borderWidth.px]="blockBorderWidth"
           [style.backgroundColor]="stone.color"
           [style.borderRadius]="getBorderRadius(stone)"
           [id]="index">
        <div *ngIf="stone.points > 1">
          {{ stone.points }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="github-logo">
    <a target="_about:blank"
       href="https://github.com/gummelhummel/falling-stones">
      <img src="/assets/github_logo.png"
           alt="GitHubLogo"
           width="32"
           height="32">
    </a>
  </div>
</div>

<ng-container *ngIf="gameover">
  <div class="gameover-background"> </div>
  <div class="gameover-container">
    <h1>{{ 'gameover' | translate }}</h1>
    <button (click)="startGame()">{{ 'restart' | translate }}</button>
  </div>
</ng-container>