<div class="gamefield-container">

  <h1>{{ 'title' | translate }}</h1>

  <div class="gamefield-menu"
       [style.width.px]="getGamefieldWidth()">

    <div class="points">{{ 'points' | translate }}: {{ points }}</div>
    <div>
      <button (click)="toggleSettings(settings)"
              class="button button-xl mdi mdi-tune">

      </button>
      <div #settings
           class="settings">

        <div>
          <i (click)="increaseBlockSize()"
             class="mdi mdi-plus cursor-pointer"></i> /
          <i (click)="decreaseBlockSize()"
             class="mdi mdi-minus cursor-pointer"></i> {{ blockSize / 10 }} Blockgröße
        </div>

        <div>
          <i (click)="increaseGamefield()"
             class="mdi mdi-plus cursor-pointer"></i> /
          <i (click)="decreaseGamefield()"
             class="mdi mdi-minus cursor-pointer"></i> {{ rows }} Spielfeldgröße
        </div>
      </div>

      <button class="button button-xl mdi mdi-reload"
              (click)="startGame()">
      </button>
    </div>
  </div>

  <div class="gamefield"
       [style.width.px]="getGamefieldWidth()"
       [style.height.px]="getGamefieldHeight()">

    <ng-container *ngFor="let stone of gamefield | async; let index = index">

      <div class="block"
           (click)="stoneClicked(stone)"
           [@slideInDownOnEnter]
           *ngIf="isFalling(stone)"
           [style.width.px]="blockSize"
           [style.height.px]="blockSize"
           [style.margin.px]="blockMargin"
           [style.borderWidth.px]="blockBorderWidth"
           [style.backgroundColor]="stone.color"
           [style.borderRadius]="getBorderRadius(stone)">
        <div *ngIf="stone.points > 1">
          {{ stone.points }}
        </div>
      </div>

      <div class="block"
           (click)="stoneClicked(stone)"
           [@zoomInOnEnter]
           *ngIf="isSpawning(stone)"
           [style.width.px]="blockSize"
           [style.height.px]="blockSize"
           [style.margin.px]="blockMargin"
           [style.borderWidth.px]="blockBorderWidth"
           [style.backgroundColor]="stone.color"
           [style.borderRadius]="getBorderRadius(stone)">
      </div>

      <div class="block"
           (click)="stoneClicked(stone)"
           *ngIf="isPresent(stone)"
           [style.width.px]="blockSize"
           [style.height.px]="blockSize"
           [style.margin.px]="blockMargin"
           [style.borderWidth.px]="blockBorderWidth"
           [style.backgroundColor]="stone.color"
           [style.borderRadius]="getBorderRadius(stone)">
        <div *ngIf="stone.points > 1">
          {{ stone.points }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="github-logo">
    <a target="_about:blank"
       href="https://github.com/gummelhummel/falling-stones">
      <img src="/assets/github_logo.png"
           alt="GitHubLogo"
           width="32"
           height="32">
    </a>
  </div>
</div>

<ng-container *ngIf="gameover">
  <div class="gameover-background"> </div>
  <div class="gameover-container">
    <h1>{{ 'gameover' | translate }}</h1>
    <button class="button mdi mdi-reload"
            (click)="startGame()">
    </button>
  </div>
</ng-container>